
<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
  <div class="container"  >
    <div class="jumbotron" >


      <h1>welcome to Ravi's exam portal</h1>
      <h2>Here you can write all your exams</h2>
      <h3>For your technical placement</h3>
      <p>India's the best exam portal</p>

      <ul>
        <h1>Rules</h1>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>
        <li>Rule-1 : you should write only once and no malpractive encorgae</li>

      </ul>

    </div>
    </div>



  {%endblock%}
